In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("cust_satisfaction.csv")

In [3]:
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [5]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [6]:
df['Arrival Delay in Minutes'] = df['Arrival Delay in Minutes'].fillna(df['Arrival Delay in Minutes'].median())

In [7]:
gender_map = {'Male': 0, 'Female': 1}
customer_type_map = {'Loyal Customer': 0, 'disloyal Customer': 1}
travel_type_map = {'Business travel': 0, 'Personal Travel': 1}
class_map = {'Eco': 0, 'Eco Plus': 1, 'Business': 2}
satisfaction_map = {'neutral or dissatisfied': 0, 'satisfied': 1}

In [8]:
df['Gender'] = df['Gender'].map(gender_map)
df['Customer Type'] = df['Customer Type'].map(customer_type_map)
df['Type of Travel'] = df['Type of Travel'].map(travel_type_map)
df['Class'] = df['Class'].map(class_map)
df['satisfaction'] = df['satisfaction'].map(satisfaction_map)

In [9]:
df['Total Delay'] = df['Departure Delay in Minutes'] + df['Arrival Delay in Minutes']

In [10]:
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Total Delay
0,0,0,1,1,0,13,460,5,4,5,25,18.0,43.0
1,0,1,0,2,0,25,235,1,3,1,1,6.0,7.0
2,1,0,0,2,1,26,1142,5,4,5,0,0.0,0.0
3,1,0,0,2,0,25,562,2,3,2,11,9.0,20.0
4,0,0,0,2,1,61,214,3,4,3,0,0.0,0.0

In [11]:
df.groupby('Class')['satisfaction'].mean()

Class
0    0.186138
1    0.246064
2    0.694251
Name: satisfaction, dtype: float64